#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

#terraform lock file
.terraform.lock.hcl

# .tfvars files
*.tfvars

# provider file for testing - should be manually added
provider.tf

# visual code
 **/.vscode/*